{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block stylesheet %}
    <link href="{% static 'js/cropper/cropper.min.css' %}" rel="stylesheet">
    <link href="{% static '/js/bootstrap-fileinput/bs-filestyle.css' %}" rel="stylesheet">
    <link href="{% static '/js/jquery-confirm/jquery-confirm.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="row clearfix">

        <div class="col-md-9">
            <a href="#" data-toggle="modal" data-target="#modalAvatar">
                <img src="{{ user.avatar.url }}"
                     class="alignleft img-circle img-thumbnail notopmargin nobottommargin" alt="Avatar"
                     style="max-width: 84px;">
            </a>
            <div class="heading-block noborder">
                <h3>{{ user.email }} </h3>
                <span>{{ user.get_full_name }}</span>
            </div>
            <div class="clear"></div>

            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="tabs tabs-alt tabs-tb clearfix" id="tabs-account"
                         data-active="{{ activetab }}">
                        <ul class="tab-nav clearfix">
                            <li><a href="#tab-profile"><i class="icon-user2"></i> Данные</a></li>
                            <li><a href="#tab-area"><i class="icon-building"></i> Помещения</a></li>
                            <li><a href="#tab-car"><i class="icon-truck"></i> Автомобили</a></li>
                            <li><a href="#tab-resources"><i class="icon-calendar"></i> Показания
                                счетчиков</a></li>
                        </ul>

                        <div class="tab-container">

                            <!-- Закладка Сведения ==================================== -->
                            <div class="tab-content clearfix" id="tab-profile">
                                <div class="promo promo-border">
                                    <h3>Телефонный номер:
                                        {% if user.phone %}
                                            <span>{{ user.phone }}</span>
                                        {% else %}
                                            <span>Нет</span>
                                        {% endif %}
                                    </h3>
                                    <a href="#" class="button button-rounded button-reveal button-large"
                                       data-toggle="modal" data-target="#id-modal-editphone">
                                        <i class="icon-phone"> </i><span>Изменить</span>
                                    </a>
                                </div>

                            </div>

                            <!-- Закладка Помещения =================================== -->
                            <div class="tab-content clearfix" id="tab-area">
                                <div class="col_two_third col_last nobottommargin">
                                    <p>В данном разделе отражена информация о помещениях, собственником
                                        которых вы являетесь, или в отношении которых вами послан запрос на
                                        признание вас собственником.</p>
                                </div>
                                <div class="col_one_third col_last">
                                    <a href="#" id="insert-request-button"
                                       class="button button-rounded button-reveal button-large"
                                       data-toggle="modal" data-target="#id-modal-ownerrequest">
                                        <i class="icon-map-marker2"></i>
                                        <span>Регистрация права</span></a>
                                </div>
                                {% if owner_rooms %}
                                    <table class="table table-hover">
                                        <thead class="thead-light">
                                        <tr>
                                            <th>№</th>
                                            <th>Помещение</th>
                                            <th>Доля собственности(%)</th>
                                            <th>Дата запроса</th>
                                            <th>Статус</th>
                                            <th>Удалить</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for item in owner_rooms %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ item.room.get_type_display }} {{ item.room.number }}</td>
                                                <td>{{ item.portion }}%</td>
                                                <td>{{ item.date_request }}</td>
                                                {% if item.date_confirmation is None %}
                                                    <td>Запрос на рассмотрении</td>
                                                    <td class="center">
                                                        <a class="btn btn-secondary btn-sm icon-trash btn-deleteowner"
                                                           href="{% url 'account:deleteowner' %}?owner_id={{ item.id }}"></a>
                                                    </td>
                                                {% else %}
                                                    <td>В собственности</td>
                                                    <td></td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% else %}
                                    <div class="divider divider-border divider-center">
                                        <i class="icon-chat"></i>
                                    </div>
                                    <h4>Вы еще не подавали запросы на признание вас собственником</h4>
                                {% endif %}

                            </div>
                            <!-- Закладка Автомобили ==================================== -->
                            <div class="tab-content clearfix" id="tab-car"></div>
                            <!-- Закладка Показания счетчиков =========================== -->
                            <div class="tab-content clearfix" id="tab-resources"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="col-md-3 clearfix">

            <div class="fancy-title topmargin title-border">
                <h4>Social Profiles</h4>
            </div>

            <a href="#" class="social-icon si-facebook si-small si-rounded si-light" title="Facebook">
                <i class="icon-facebook"></i>
                <i class="icon-facebook"></i>
            </a>

            <a href="#" class="social-icon si-gplus si-small si-rounded si-light" title="Google+">
                <i class="icon-gplus"></i>
                <i class="icon-gplus"></i>
            </a>

            <a href="#" class="social-icon si-dribbble si-small si-rounded si-light" title="Dribbble">
                <i class="icon-dribbble"></i>
                <i class="icon-dribbble"></i>
            </a>

            <a href="#" class="social-icon si-flickr si-small si-rounded si-light" title="Flickr">
                <i class="icon-flickr"></i>
                <i class="icon-flickr"></i>
            </a>

            <a href="#" class="social-icon si-linkedin si-small si-rounded si-light" title="LinkedIn">
                <i class="icon-linkedin"></i>
                <i class="icon-linkedin"></i>
            </a>

            <a href="#" class="social-icon si-twitter si-small si-rounded si-light" title="Twitter">
                <i class="icon-twitter"></i>
                <i class="icon-twitter"></i>
            </a>
        </div>

    </div>

    <!-- MODAL TO SELECT AND CROP THE AVATAR -->
    <div class="modal fade" id="modalAvatar" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-body">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Изменить аватар</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="avatar-container">
                            <img src="{{ user.avatar.url }}" id="avatar" style="max-width: 100%;">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="btn-group left" role="group">
                            <button type="button" class="btn btn-light js-zoom-in">
                                <i class="icon-zoom-in"></i>
                            </button>
                            <button type="button" class="btn btn-light js-zoom-out">
                                <i class="icon-zoom-out"></i>
                            </button>
                        </div>
                        <form method="post" enctype="multipart/form-data" id="formAvatarUpload"
                              class="container clearfix nomargin">
                            {% csrf_token %}
                            {{ avataruploadform.x }}
                            {{ avataruploadform.y }}
                            {{ avataruploadform.width }}
                            {{ avataruploadform.height }}
                            {{ avataruploadform.avatar|add_class:"file-loading"|set_data:"show-preview:false" }}
                        </form>
                        <button type="button" class="button button-dark button-rounded upload-cancel-button"
                                data-dismiss="modal">Отмена
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL TO EDIT PHONE -->
    {% include 'modal.html' with name="editphone" size="sm" header="Изменить телефон" urlname="account:profile" formname=phonechangeform buttons="CS" %}

    <!-- MODAL TO INSERT OWNER REQUEST -->
    {% include 'modal.html' with name="ownerrequest" size="lg" header="Послать запрос" urlname="account:profile" formname=sendownerrequestform buttons="CS" %}


{% endblock %}


{% block javascript %}
    <script src="{% static 'js/cropper/cropper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-fileinput/bs-filestyle.js' %}"></script>
    <script src="{% static 'js/jquery-confirm/jquery-confirm.min.js' %}"></script>
    <script src="{% static 'js/account.js' %}"></script>
    {% if phonechangeform.errors %}
        <script>
            jQuery(function ($) {
                $("#modalEditPhone").modal("show");
            });
        </script>
    {% endif %}
    {% if sendownerrequestform.errors %}
        <script>
            jQuery(function ($) {
                $("#modalOwnerRequest").modal("show");
            });
        </script>
    {% endif %}

{% endblock %}