{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block stylesheet %}
    <link href="{% static 'js/cropper/cropper.min.css' %}" rel="stylesheet">
    <link href="{% static '/js/bootstrap-fileinput/bs-filestyle.css' %}" rel="stylesheet">
    <link href="{% static '/js/jquery-confirm/jquery-confirm.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="row clearfix">

        <div class="col-md-12">
            <a href="#" data-toggle="modal" data-target="#modalAvatar">
                <img src="{{ user.avatar.url }}"
                     class="alignleft img-circle img-thumbnail notopmargin nobottommargin" alt="Avatar"
                     style="max-width: 84px;">
            </a>
            <div class="heading-block noborder">
                <h3>{{ user.email }} </h3>
                <span>{{ user.get_full_name }}</span>
            </div>
            <div class="clear"></div>

            <div class="row clearfix">
                <div class="col-md-12">
                    <div class="tabs tabs-alt tabs-tb clearfix" id="tabs-account"
                         data-active="{{ activetab }}">
                        <ul class="tab-nav clearfix">
                            <li><a href="#tab-profile"><i class="icon-user2"></i> Данные</a></li>
                            <li><a href="#tab-area"><i class="icon-building"></i> Помещения</a></li>
                            <li><a href="#tab-car"><i class="icon-truck"></i> Автомобили</a></li>
                            <li><a href="#tab-resources"><i class="icon-calendar"></i> Показания
                                счетчиков</a></li>
                        </ul>

                        <div class="tab-container">

                            <!-- Закладка Сведения ==================================== -->
                            <div class="tab-content clearfix" id="tab-profile">
                                <div class="col_one_third">
                                    <div class="feature-box fbox-rounded fbox-effect fbox-light">
                                        <div class="fbox-icon">
                                            <i class="icon-bill i-alt"></i>
                                        </div>
                                        <h3>Лицевой счет</h3>
                                        <h3>
                                            {% if user.account %}
                                                <span>{{ user.account }}</span>
                                            {% else %}
                                                <span>Не присвоен</span>
                                            {% endif %}
                                        </h3>
                                    </div>
                                </div>
                                <div class="col_one_third">
                                    <div class="feature-box fbox-rounded fbox-effect fbox-light">
                                        <div class="fbox-icon">
                                            <i class="icon-phone-landscape i-alt"></i>
                                        </div>
                                        <h3>Телефонный номер</h3>
                                        <h3>
                                            {% if user.phone %}
                                                <span>{{ user.phone }}</span>
                                            {% else %}
                                                <span>Нет</span>
                                            {% endif %}
                                            <a href="#" data-toggle="modal" data-target="#id-modal-editphone"
                                               title="Изменить">
                                                <sup><i class="icon-edit"> </i></sup>
                                            </a>

                                        </h3>
                                    </div>
                                </div>

                            </div>

                            <!-- Закладка Помещения =================================== -->
                            <div class="tab-content clearfix" id="tab-area">
                                <div class="nobottommargin">
                                    <p style="text-align: justify">В данном разделе отражена информация о помещениях,
                                        собственником которых вы являлись, являетесь, или в отношении которых вами
                                        послан запрос на признание вас собственником. Для направления нового запроса в
                                        адрес администрации ТСЖ нажмите кнопку
                                        <a href="#" class="button button-mini button-circle"
                                           id="insert-request-button" data-toggle="modal"
                                           data-target="#id-modal-ownerrequest">Регистрация права</a></p>
                                </div>
                                {% if owner_rooms %}
                                    <table class="table table-hover">
                                        <thead class="thead-light">
                                        <tr>
                                            <th>№</th>
                                            <th>Помещение</th>
                                            <th>Доля собственности(%)</th>
                                            <th>Дата запроса</th>
                                            <th>Статус</th>
                                            <th>Действие</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for item in owner_rooms %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ item.room.get_type_display }} {{ item.room.number }}</td>
                                                <td>{{ item.portion }}%</td>
                                                <td>{{ item.date_request }}</td>
                                                {% if item.date_confirmation is None %}
                                                    <td>Запрос на рассмотрении</td>
                                                    <td>
                                                        <a class="i-small i-light i-rounded nobottommargin
                                                         notopmargin icon-trash btn-delete-with-post"
                                                           title="Удалить"
                                                           href="{% url 'area:deleteowner' item.id %}?next={% url 'account:profile' 2 %}"></a>
                                                    </td>
                                                {% else %}
                                                    {% if item.date_cancellation is not None %}
                                                        <td>Аннулировано</td>
                                                    {% else %}
                                                        <td>В собственности</td>
                                                    {% endif %}
                                                    <td>
                                                        <i class="icon-minus"></i>
                                                    </td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% else %}
                                    <div class="style-msg" style="background-color: #EEE;">
                                        <div class="sb-msg"><i class="icon-info-sign"></i>
                                            Вы еще <strong>не подавали</strong> запросы на признание вас собственником.
                                        </div>
                                    </div>
                                {% endif %}

                            </div>
                            <!-- Закладка Автомобили ==================================== -->
                            <div class="tab-content clearfix" id="tab-car"></div>


                            <!-- Закладка Показания счетчиков =========================== -->
                            <div class="tab-content clearfix" id="tab-resources">
                                <div class="nobottommargin">
                                    <p style="text-align: justify">Для направления показаний счетчиков нажмите кнопку
                                        <a href="#" class="button button-mini button-circle"
                                           id="insert-countervalue-button" data-toggle="modal"
                                           data-target="#id-modal-countervalue">Подать показания</a></p>
                                </div>
                                {% if counter_values %}
                                    {% now "Y-m-d" as todays %}
                                    <table class="table table-hover">
                                        <thead class="thead-light">
                                        <tr>
                                            <th>Период</th>
                                            <th>Кто предоставил</th>
                                            <th>Помещение</th>
                                            <th>Счетчик</th>
                                            <th>Показания</th>
                                            <th>Действие</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for item in counter_values %}
                                            <tr>
                                                <td>{{ item.date|date:"F Y" }}</td>
                                                <td>{{ item.user.get_full_name }}</td>
                                                <td>{{ item.room.get_type_display }} {{ item.room.number }}</td>
                                                <td>{{ item.type }}</td>
                                                <td>{{ item.value }}</td>
                                                {% with item.date.year|stringformat:"i" as year %}
                                                    {% with item.date.month|stringformat:"i" as month %}
                                                        {% with item.type.end_day|stringformat:"i" as day %}
                                                            {% if todays > year|add:"-"|add:month|add:"-"|add:day %}
                                                                <td><i class="icon-minus"></i></td>
                                                            {% else %}
                                                                <td>
                                                                    <a class="i-small i-light i-rounded nobottommargin
                                                                              notopmargin icon-trash"
                                                                       title="Удалить"
                                                                       href="{% url 'area:ownerrequests' item.id %}"></a>
                                                                </td>
                                                            {% endif %}
                                                        {% endwith %}
                                                    {% endwith %}
                                                {% endwith %}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% else %}
                                    <div class="style-msg" style="background-color: #EEE;">
                                        <div class="sb-msg"><i class="icon-info-sign"></i>
                                            <strong>Не обнаружено</strong> показаний счетчиков, по принадлежащим вам
                                            помещениям.
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>   <!-- Tab-container end -->

                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- MODAL TO SELECT AND CROP THE AVATAR -->
    <div class="modal fade" id="modalAvatar" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-body">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Изменить аватар</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="avatar-container">
                            <img src="{{ user.avatar.url }}" id="avatar" style="max-width: 100%;">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="btn-group left" role="group">
                            <button type="button" class="btn btn-light js-zoom-in">
                                <i class="icon-zoom-in"></i>
                            </button>
                            <button type="button" class="btn btn-light js-zoom-out">
                                <i class="icon-zoom-out"></i>
                            </button>
                        </div>
                        <form method="post" enctype="multipart/form-data" id="formAvatarUpload"
                              class="container clearfix nomargin">
                            {% csrf_token %}
                            {{ avataruploadform.x }}
                            {{ avataruploadform.y }}
                            {{ avataruploadform.width }}
                            {{ avataruploadform.height }}
                            {{ avataruploadform.avatar|add_class:"file-loading"|set_data:"show-preview:false" }}
                        </form>
                        <button type="button" class="button button-dark button-rounded upload-cancel-button"
                                data-dismiss="modal">Отмена
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL TO EDIT PHONE -->
    {% include 'modal.html' with name="editphone" size="sm" header="Изменить телефон" urlname="account:profile" formname=phonechangeform buttons="CS" %}

    <!-- MODAL TO INSERT OWNER REQUEST -->
    {% include 'modal.html' with name="ownerrequest" size="lg" header="Послать запрос" urlname="account:profile" formname=sendownerrequestform buttons="CS" %}

    <!-- MODAL TO INSERT COUNTER VALUE -->
    {% include 'modal.html' with name="countervalue" size="lg" header="Подать показания" urlname="account:profile" formname=sendcountervalueform buttons="CS" %}


{% endblock %}


{% block javascript %}
    <script src="{% static 'js/cropper/cropper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-fileinput/bs-filestyle.js' %}"></script>
    <script src="{% static 'js/jquery-confirm/jquery-confirm.min.js' %}"></script>
    <script src="{% static 'js/account.js' %}"></script>
    {% if phonechangeform.errors %}
        <script>
            jQuery(function ($) {
                $("#id-modal-editphone").modal("show");
            });
        </script>
    {% endif %}
    {% if sendownerrequestform.errors %}
        <script>
            jQuery(function ($) {
                $("#id-modal-ownerrequest").modal("show");
            });
        </script>
    {% endif %}
    {% if sendcountervalueform.errors %}
        <script>
            jQuery(function ($) {
                $("#id-modal-countervalue").modal("show");
            });
        </script>
    {% endif %}

{% endblock %}