{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block stylesheet %}
    <link href="{% static '/js/jquery-confirm/jquery-confirm.min.css' %}" rel="stylesheet">
    <!-- Bootstrap Switch CSS -->
    <link href="{% static '/js/bootstrap-switches/bs-switches.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
    <!-- Заголовок для запроса ==================================== -->
    <div class="fancy-title title-bottom-border">
        <h4>Запрос № <span>{{ new_owner.id }}</span> на регистрацию права</h4>
    </div>

    <div class="col-md-12">
        <p style="text-align: justify">Для оперативной сверки данных, вы можете запросить некоторые данные c бесплатной
            информацией из росреестра с сайта <strong>rosreestr.net</strong>.
            <a href="{% url 'rosreestr:rosreestrnet' %}?egrn={{ new_owner.room.cadastre }}"
               class="button button-mini button-circle nomargin btn-rosreestrnet">
                <i class="icon-data"></i>Бесплатные данные</a>
            Данная информация может вообще не содержать сведения о собственниках помещений, либо содержать только дату и
            номер регистрации прав собственности. Другой вариант проверить сведения - запрос платной выписки из
            росрестра
            с сайта <strong>apirosreestr.ru</strong>
            {#            <a href="{% url 'rosreestr:apirosreestr' %}?egrn={{ new_owner.room.cadastre }}&next={% url 'area:ownerrequests' %}"#}
            {#               class="button button-mini button-circle button-red nomargin btn-apirosreestr">#}
            {#                <i class="icon-data"></i>Платные данные</a>#}
            <a href="" class="button button-mini button-circle button-red nomargin " id="insert-request-button"
               data-toggle="modal" data-target="#id-modal-apirosreestr"><i class="icon-data"></i>Платные данные</a>
            Необходимо иметь ввиду, что с ТСЖ будет списано 90 рублей за каждый отправленный запрос. Получение выписки и
            сверка данных может занять несколько дней.
        </p>
    </div>

    <!-- Детальная информация запроса ============================= -->
    <div class="card">
        <div class="card-header">
            <span>{{ new_owner.room }}</span><span> ({{ new_owner.room.square|floatformat }} м2)</span>
        </div>
        <div class="card-body">
            <div>Собственник:
                <div class="float-right">{{ new_owner.user.get_full_name }}</div>
            </div>
            <div>Дата запроса:
                <div class="float-right">{{ new_owner.date_request }}</div>
            </div>
            <div>Запрашиваемая доля:
                <div class="float-right"><span class="new-portion">{{ new_owner.portion }}</span>%</div>
            </div>

        </div>
    </div>

    <div id="divider" class="divider divider-border hidden"><i class="icon-pencil"></i></div>

    <!-- Данные росреестра ======================================= -->
    <div id="rosreestr-common" class="card hidden">
        <div class="card-header">
            <span>Данные росреестра</span>
        </div>
        <div class="card-body">
            <div>Дата информации:
                <div class="float-right" id="main-date">-</div>
            </div>
            <div>Номер ЕГРН:
                <div class="float-right" id="main-egrn">-</div>
            </div>
            <div>Адрес:
                <div class="float-right" id="main-address">-</div>
            </div>
            <div>Тип помещения:
                <div class="float-right" id="area-type">-</div>
            </div>
            <div>Этаж:
                <div class="float-right" id="area-floor">-</div>
            </div>
            <div>Площадь:
                <div class="float-right" id="area-square">-</div>
            </div>
            <div>Количество собственников:
                <div class="float-right" id="main-num-owners">-</div>
            </div>
        </div>
    </div>

    <div id="rosreestr-owners" class="card hidden">
        <div class="card-header">
            <span>Записи о собственности</span>
        </div>
        <table id="table-owners" class="table">
            <thead>
            <tr>
                <th>№ п.п.</th>
                <th>Тип записи</th>
                <th>Номер записи</th>
                <th>Дата записи</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <a href="{% url 'area:ownerrequests' %}" class="button button-dark button-rounded topmargin-sm">Вернуться</a>


    <!-- MODAL TO EDIT PHONE -->
    {% url 'area:checkowner' new_owner.id as action_url %}
    {% include 'modal.html' with name="apirosreestr" size="lg" header="Отправить запрос" urlname=action_url maintext="Вы действительно хотите отправить ПЛАТНЫЙ запрос на сайт apirosreestr.ru ?" formname=form buttons="CS" %}


{% endblock %}

{% block javascript %}
    <script src="{% static 'js/jquery-confirm/jquery-confirm.min.js' %}"></script>
    <!-- Bootstrap Switch Plugin -->
    <script src="{% static 'js/bootstrap-switches/bs-switches.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
    <script src="{% static 'js/area.js' %}"></script>
    <script>
        jQuery(".bt-switch").bootstrapSwitch();
    </script>
    {% if form.errors %}
        <script>
            jQuery(function ($) {
                $("#id-modal-apirosreestr").modal("show");
            });
        </script>
    {% endif %}
{% endblock %}