{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
    <!-- Radio Checkbox Plugin -->
    <link rel="stylesheet" href="{% static 'css/radio-checkbox.css' %}" type="text/css"/>
{% endblock %}

{% block content %}

    <!-- ЗАГОЛОВОК вопроса на голосование-->
    <div class="fancy-title title-bottom-border">
        <h3><span>Вопрос</span>: {{ question.shortname }}</h3>
    </div>

    <!-- Разные параметры вопроса на голосование -->
    <h3 class="nomargin">Статья Жилищного Кодекса</h3>
    <p>{{ question.competence }}</p>

    <h3 class="nomargin">Описание вопроса</h3>
    <p>{{ question.name }}</p>

    <h3 class="nomargin">Параметры</h3>
    <p class="nomargin">Начало голосования - {{ question.date_start }}</p>
    <p class="nomargin">Окончание голосования - {{ question.date_end }}</p>
    {% now "Y-m-d" as todays %}
    {% if question.date_start|date:"Y-m-d" > todays %}
        {% if question.type == 1 %}
            <p>Состояние: Идет сбор кандидатур</p>
        {% else %}
            <p>Состояние: Ожидается начало голосования</p>
        {% endif %}
    {% else %}
        <p>Состояние: Идет голосование</p>
    {% endif %}

    <!-- Если у нас списочное голосование -->
    {% if question.type == 1 %}
        <div class="divider divider-border divider-left"><i class="icon-paperclip"></i></div>
        <h3>Кандадиты для голосования
            <!-- Если еще есть время на сбор кандидатур, добавим кнопку для добавления кандидата -->
            {% if question.date_start|date:"Y-m-d" > todays %}
                <a href="#" class="button button-mini button-circle" id="add-candidate-button" data-toggle="modal"
                   data-target="#id-modal-addcandidate"><i class="icon-plus"></i><span>Добавить</span></a>
            {% endif %}
        </h3>

        <!-- Выведем список кандидатов-->
        {% if candidates %}
            {% for candidate in candidates %}
                <div class="col_one_third {% if forloop.counter|divisibleby:"3" %}col_last{% endif %}">
                    <div class="feature-box fbox-center fbox-bg fbox-light fbox-effect">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-user"></i></a>
                        </div>
                        <h3>{{ candidate.user.fullname }}
                            <span class="subtitle bottommargin-sm">Выдвинут: {{ candidate.date_nominate }}</span>
                        </h3>

                        <div class="text-left">
                            <input id="yes-{{ candidate.id }}" class="radio-style"
                                   name="radio-group-{{ forloop.counter }}" type="radio" value="1">
                            <label for="yes-{{ candidate.id }}" class="radio-style-3-label">За</label>
                        </div>
                        <div class="text-left">
                            <input id="no-{{ candidate.id }}" class="radio-style"
                                   name="radio-group-{{ forloop.counter }}" type="radio" value="2">
                            <label for="no-{{ candidate.id }}" class="radio-style-3-label">Против</label>
                        </div>
                        <div class="text-left">
                            <input id="abs-{{ candidate.id }}" class="radio-style"
                                   name="radio-group-{{ forloop.counter }}" type="radio" value="3">
                            <label for="abs-{{ candidate.id }}"
                                   class="radio-style-3-label">Воздержался</label>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>До настоящего момента, ни одна кандидатура не добавлялась.</p>
        {% endif %}

        <!-- Если еще есть время на сбор кандидатур, добавим форму для ввода кандидата -->
        {% if question.date_start|date:"Y-m-d" > todays %}
            {% url 'voting:questions' question.id as action_url %}
            {% include 'modal.html' with name="addcandidate" size="lg" header="Добавить кандидата" urlname=action_url formname=addcandidateform buttons="CS" %}
        {% endif %}
    {% endif %}

{% endblock %}

{% block javascript %}
    {% if addcandidateform.errors %}
        <script>
            jQuery(function ($) {
                $("#id-modal-addcandidate").modal("show");
            });
        </script>
    {% endif %}
{% endblock %}