{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
{% endblock %}

{% block content %}

    <!-- ЗАГОЛОВОК вопроса на голосование-->
    <div class="fancy-title title-bottom-border">
        <h3><span>Вопрос</span>: {{ question.shortname }}</h3>
    </div>

    <!-- Разные параметры вопроса на голосование -->
    <h3 class="nomargin">Статья Жилищного Кодекса</h3>
    <p>{{ question.competence }}</p>

    <h3 class="nomargin">Описание вопроса</h3>
    <p>{{ question.name }}</p>

    <h3 class="nomargin">Параметры</h3>
    <p class="nomargin">Начало голосования - {{ question.date_start }}</p>
    <p class="nomargin">Окончание голосования - {{ question.date_end }}</p>
    {% now "Y-m-d" as todays %}
    {% if question.date_start|date:"Y-m-d" > todays %}
        {% if question.type == 1 %}
            <p>Состояние: Идет сбор кандидатур</p>
        {% else %}
            <p>Состояние: Ожидается начало голосования</p>
        {% endif %}
    {% else %}
        <p>Состояние: Идет голосование</p>
    {% endif %}

    <!-- Если у нас списочное голосование -->
    {% if question.type == 1 %}
        <div class="divider divider-border divider-left"><i class="icon-paperclip"></i></div>
        <h3>Кандадиты для голосования</h3>

        <!-- Выведем список кандидатов-->
        {% if candidates %}
            {% for candidate in candidates %}
                <h4>{{ forloop.counter }}. {{ candidate.user.fullname }}</h4>
            {% endfor %}
        {% else %}
            <p>До настоящего момента, ни одна кандидатура не добавлялась.</p>
        {% endif %}

        <!-- Если еще есть время на сбор кандидатур, добавим форму для ввода кандидата -->
        {% if question.date_start|date:"Y-m-d" > todays %}
            <a href="#" class="button button-circle" id="add-candidate-button" data-toggle="modal"
               data-target="#id-modal-addcandidate">Добавить</a>

            {% url 'voting:questions' question.id as action_url %}
            {% include 'modal.html' with name="addcandidate" size="lg" header="Добавить кандидата" urlname=action_url formname=addcandidateform buttons="CS" %}
        {% endif %}
    {% endif %}

{% endblock %}

{% block javascript %}
    {% if addcandidateform.errors %}
        <script>
            jQuery(function ($) {
                $("#id-modal-addcandidate").modal("show");
            });
        </script>
    {% endif %}
{% endblock %}